<ion-view view-title="Home" xmlns="http://www.w3.org/1999/html">
  <ion-content>
      <br><br>

    <span ng-show="message">{{message}}</span>

   <div class="row row-top">
       <div class="col-10  col-center">
           <button class="button button-icon ion-arrow-left-a" ng-disabled="!leftshow" ng-click="left()"></button>
       </div>
       <div class="col-80 col-bottom">
           <div class="list card">

               <div class="item item-avatar-right">
                   <button class="button button-calm ion-arrow-down-a" ng-click="openlist()"></button>
                   <b>{{product[i].name}}</b>

               </div>

               <div class="item item-image">
                   <img ng-src= "{{productimageurl}}productimage.php?id={{i+1}}">
               </div>

               <a class="item item-icon-left assertive" href="#">
                   <p>
                       Volume:{{product[i].volume}}
                       Cost:{{product[i].price}}
                   </p>
               </a>

           </div>
       </div>
       <div class="col-10 col-center">
           <button class="button button-icon ion-arrow-right-a" ng-disabled="!rightshow" ng-click="right()"></button>
       </div>


   </div>



  </ion-content>
</ion-view>
